<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dispensary2.Properties.Settings.Dispansery2ConnectionString" connectionString="Data Source=DESKTOP-C6I6F3P\SQLEXPRESS;Initial Catalog=Dispansery2;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
